* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

header {
  position: relative;
  padding-top: 3.5rem;
  display: grid;
  text-align: center; }

.profileImage img {
  width: 200px; }

.mainSection {
  align-items: center; }

.filterOptions {
  margin: auto;
  background-color: #b9b9b9;
  padding: .375rem;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
  max-width: 40rem; }

.profileLinks {
  padding: 1em; }

.profileLinks img {
  max-height: 4rem;
  padding: .1rem; }

.filteringButton {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: black;
  border-radius: .75rem;
  background-color: transparent;
  transition: .3s; }

.filteringButton:hover {
  background-color: #929292;
  color: white; }
