* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  letter-spacing: .5px; }

.SizingCompressionContainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-right: .5em;
  padding-left: .5em; }

.CenterVerticalGroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%; }

.SplitLayoutSection {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.TitleBlock {
  text-align: center;
  padding: 25px;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px; }

.gridSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  margin: 2rem 0; }

.sectionBlock h2 {
  text-align: center;
  padding-bottom: .4em;
  min-height: 60px; }

.sectionBlock {
  background-color: #424242;
  border-radius: 20px; }

.sectionBlock li {
  color: white;
  letter-spacing: 1px; }

.sectionBlock h2 {
  background-color: #181818;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: .2em;
  color: #ffffff; }

.sectionBlock ul {
  list-style: none;
  text-align: center; }

.ImageHolder {
  position: relative; }

.ImageHolder img {
  width: 100%;
  display: block; }

.ImageHolder ul {
  list-style: none; }

.ImageHolder li:not(.CarouselImageActive) {
  display: none; }

.ImageHolder button {
  background-color: #0000007c;
  height: 30px;
  border: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  height: 100%;
  font-size: large; }

.ImageHolder button:hover {
  background-color: #00000093;
  padding-left: 35px;
  padding-right: 35px;
  font-size: larger; }

.CarouselButtonPrevious {
  position: absolute;
  left: 0; }

.CarouselButtonNext {
  position: absolute;
  right: 0; }

header {
  text-align: center; }

#HeaderContainer {
  min-height: 70vh;
  height: auto;
  position: relative; }

header img {
  max-width: 300px;
  height: auto; }

@media only screen and (max-width: 400px) {
  header img {
    max-width: 200px; } }

header h1 {
  font-size: 3rem; }

header h2 {
  padding-top: .4rem;
  padding-bottom: .4rem;
  font-size: 1.1rem; }

#HeaderLinks {
  margin-top: 20px;
  margin-bottom: 20px; }

#HeaderLinks a {
  width: 40%;
  padding: 10px;
  text-decoration: none;
  background-color: black;
  margin-top: 10px;
  color: white;
  border-radius: 5px; }

nav {
  text-align: center;
  background-color: #2b2b2b;
  position: sticky;
  top: 0;
  z-index: 99999999; }

nav div {
  margin: auto; }

nav button {
  width: 30%;
  background-color: #5a5a5a;
  color: #ffffff;
  padding: 10px;
  border: 0; }

nav button:hover {
  background-color: #6b6b6b; }

#ProjectsTitle {
  background-color: #0082be;
  color: white; }

#ProjectsSection {
  min-height: 400px;
  background-color: rgba(230, 230, 230, 0.74); }

#ProjectsSection .SplitLayoutSection {
  padding-top: 20px;
  padding-bottom: 20px; }

#SkillsTitle {
  background-color: #181818;
  color: white; }

#SkillsSection {
  background-color: rgba(255, 255, 255, 0.74); }

#ExperiencesTitle {
  background-color: #03db6f;
  color: white; }

#ExperiencesSection {
  min-height: 400px;
  background-color: rgba(230, 230, 230, 0.74); }

#WorkExperienceSection {
  background-color: #2b2b2b;
  border-radius: 20px;
  padding: 20px; }
