 //npm i
 //npm run scss (starts watching over file)

//$accentColor: #EBFF00;
$accentColor: #06cdff;
$accentColor2: #00e961;

$mainBackground: #ffffff;
$pageWidth: 75em;



$navbarHeightExpanded: 3em;
$navbarHeight: 56px;
/*
#mainPage
{
    margin: auto;
    width: $pageWidth;
    padding-bottom: 5em;
    background-color: #5e5e5e;
}
*/

body 
{
    background-color: $mainBackground;

}

header
{
    height: 100vh;
    background-size: cover;
    background-image: url("../images/example.png");
}

#imageOfMe
{
    max-width: 20em;
    height: auto;
}


#imageOfMe2
{
    max-width: 20em;
    height: auto;
    float: right;
    padding-right: 2em;
}

.fullScreenVideoBackground 
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}
  
.fullScreenVideoBackground  video 
{
    min-width: 100%; 
    min-height: 100%; 

    width: auto;
    height: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    z-index: -1;
    
}
  
#overVideoContainer
{
    z-index: 2;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
}

#overVideoContainer img
{
    float: right;
}

#mainVideoContainer .overlay
{
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100%; 

    opacity: 0.3;

}

.headerLink
{
    display: block;
    height: $navbarHeight;
    margin-top: -$navbarHeight;
    visibility: hidden;
}

.titleSection
{
    padding: .5em;
    text-align: center;
    background-color: $accentColor;
    font-weight: 200;
}

.titleSectionB
{
    padding: .5em;
    text-align: center;
    background-color: $accentColor;
    font-weight: 200;
}

#selectedNav
{
    color: $accentColor;
    font-weight: 500;
}


.aboutMeLabledSection .container
{
    
}


.aboutMeLabledSection
{
    padding-top: 5em;
    padding-bottom: 5em;

    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.aboutMeLabledSection h2
{
    font-size: 15px;
}

.paddingSides
{
    padding-left: 20%;
    padding-right: 20%;
}