 //npm i
 //npm run scss (starts watching over file)

$accentColor: #EBFF00;
$mainGrey: #5e5e5e;
$pageWidth: 75em;

nav
{
    margin: auto;
    width: $pageWidth;
    background-color: red;
}

nav ul
{
    list-style-type: none;
    padding-bottom: 0px;
    margin-bottom: 0;
}

nav li
{
    float: left;
}

nav a
{
    list-style: none;
    display: block;
    padding: 1em;
}





#mainPage
{
    margin: auto;
    width: $pageWidth;
    padding-bottom: 5em;
    background-color: #5e5e5e;
}